.card {
  padding: 0;
}

.collapse {
  margin-top: 15px;
}

.dropdown {
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.res-item {
  padding: 100px;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1,
.sub-heading {
  text-align: center;
}

h1 {
  padding-top: 40px;
}

.sub-heading {
  padding-top: 20px;
}

.res-item>h2 {
  color: black;
}

.res-item>h2 {
  text-decoration: none;
}

.card-res {
  display: flex;
  padding: 20px;
}

.second {
  padding-left: 30px;
}

.first {
  max-width: 300px;
}

.ingredents {
  max-width: inherit;
}

h2 {
  padding: 20px 0;
}

h5 {
  color: rgb(0, 0, 190);
}